[submodule "vendor/stb"]
	path = vendor/stb
	url = https://github.com/nothings/stb
[submodule "vendor/pcg-cpp"]
	path = vendor/pcg-cpp
	url = https://github.com/imneme/pcg-cpp
[submodule "vendor/argparse"]
	path = vendor/argparse
	url = https://github.com/p-ranav/argparse
[submodule "vendor/miniaudio"]
	path = vendor/miniaudio
	url = https://github.com/mackron/miniaudio
[submodule "vendor/rapidjson"]
	path = vendor/rapidjson
	url = https://github.com/Tencent/rapidjson
[submodule "vendor/wil"]
	path = vendor/wil
	url = https://github.com/microsoft/wil
[submodule "vendor/cryptopp/src"]
	path = vendor/cryptopp/src
	url = https://github.com/weidai11/cryptopp
[submodule "vendor/mio"]
	path = vendor/mio
	url = https://github.com/vimpunk/mio
[submodule "vendor/zstd"]
	path = vendor/zstd
	url = https://github.com/facebook/zstd
[submodule "vendor/DirectXMath"]
	path = vendor/DirectXMath
	url = https://github.com/microsoft/DirectXMath
[submodule "vendor/lzo-2.10/tmp"]
	path = vendor/lzo-2.10/tmp
	url = https://github.com/synaptseal/lzo-2.10
